.modal
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, 0.5)
    display: none
    &_active
      display: flex
      align-items: center
    &-dialog
      position: relative
      margin: 0 auto
      max-width: 570px
      max-height: 674px
      background-color: #fff
      padding: 40px
      text-align: center
      &__title
        width: 291px
        height: 54px
        line-height: 33px
        text-align: center
        margin: 40px auto
        +bold
        font-size: 22px
        font-weight: 400
      &__subtitle
        +reg
        font-size: 16px
        font-weight: 400
        line-height: 35px
        
      &__form
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        margin-top: 50px
        margin-bottom: 33px
      &__input
        margin-bottom: 15px
        padding-left: 26px 
        width: 370px
        height: 65px
        border-radius: 10px
        border: 1px solid #dddddd
        background-color: #ffffff
        outline: none
      &__button
        margin: 30px 0 0 0
        width: 368px
        height: 70px
        border-radius: 10px
        background-color: $main_color
      &__footer
        display: flex
        flex-direction: column
        align-items: center
      &__firstFooterItem
        max-width: 285px
        +reg
        font-size: 15px
        font-weight: 400
        line-height: 20px
        margin-bottom: 13px
      &__secondFooterItem
        +bold
        font-size: 24px
        font-weight: 400
        line-height: 24px        
      &__close
        position: absolute
        top: 0
        right: 0
        background-color: #ffffff
        border: none
@media ( max-width: 440px)
    .modal
        width: 100%
        &_active
          display: flex
          align-items: center
        &-dialog
          position: relative
          margin: 0 auto
          width: 100%
          background-color: #fff
          padding: 40px
          text-align: center
          &__title
            +bold
            width: 200px
            font-size: 18px
            font-weight: 400
            line-height: 28px
            margin-bottom: 60px
          &__subtitle
            line-height: 20px
          &__form
            max-width: 300px
          &__input
            max-width: 220px
            max-height: 45px
          &__button
            width: 220px
            height: 45px
          &__secondFooterItem
            +bold
            font-size: 20px
            font-weight: 400
            line-height: 24px
            
            