.modal
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, 0.5)
    display: none
    &_active
      display: flex
      align-items: center
    &-dialog
      position: relative
      margin: 0 auto
      width: 570px
      height: 674px
      background-color: #fff
      padding: 40px
      text-align: center
      &__title
        width: 291px
        height: 54px
        line-height: 33px
        text-align: center
        margin: 40px auto
        +bold
        font-size: 22px
        font-weight: 400
      &__subtitle
        +reg
        font-size: 16px
        font-weight: 400
        line-height: 35px
        
      &__form
        display: flex
        flex-direction: column
        width: 100%
        margin-top: 50px
        margin-bottom: 33px
      &__input
        margin: 0 auto 15px auto
        padding-left: 26px 
        width: 370px
        height: 65px
        border-radius: 10px
        border: 1px solid #dddddd
        background-color: #ffffff
      &__button
        margin: 30px auto 0 auto
        width: 368px
        height: 70px
        border-radius: 10px
        background-color: $main_color
      &__footer
        display: flex
        flex-direction: column
        align-items: center
      &__firstFooterItem
        width: 285px
        +reg
        font-size: 15px
        font-weight: 400
        line-height: 20px
        margin-bottom: 13px
      &__secondFooterItem
        +bold
        font-size: 24px
        font-weight: 400
        line-height: 24px
        
        
      &__close
        position: absolute
        top: 0
        right: 0

    